*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    display: grid;
    min-height: 100vh;
    place-content: center;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
    opacity: 1;
    color: #fff;
}


form {
    position: relative;
    float: right;
}


h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h4 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}