html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 100%, 74%);
}

main {
    background-image: url("bg-intro-desktop.png");
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-width: 300px;
    max-width: 500px;
    color: white;
}

form {
    position: relative;
    float: right;
}


h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h4 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}