*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
    opacity: 1;
    color: #fff;
}

.heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

h1 {
    font-size: 3rem;
    color: white;
}

p {
    font-size: 1rem;
    color: white;
}

.ad-text {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}

input {
    width: 80%;
    height: 60px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.trial {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 15px;
    margin-top: 30px;
    padding-top: 20px;
}

.btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 60px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-size: 1rem;
    border-radius: 15px;
    margin-top: 10px;
    padding-top: 20px;
}

   